<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">footer 1</section>
        <section class="col">footer 2</section>
        <section class="col">footer 3</section>
    </div>
</footer>